<div id="searchResultsDiv">
    <h1>Characters Found</h1>
    <h2>{{searchTerm}}</h2>
    {{#if marvelResponse}}
    <ul id='resultsList'>
        {{#each marvelResponse}}
        <li>
            <a href="/characters/{{this.id}}">
                <table>
                    <tr>
                        <td><img src="{{this.thumbnail.path}}/portrait_small.{{this.thumbnail.extension}}"
                                alt="Portrait of {{this.name}}"></td>
                        <td>{{this.name}}</td>
                    </tr>
                </table>
            </a>
        </li>
        {{/each}}
    </ul>
    {{else}}
    <p class="not-found">We're sorry, but no results were found for {{searchTerm}}.</p>
    {{/if}}
</div>